.sidebar-wrapper {
    height: 100%;
    width: 100%;
}

.colorbox-wrapper > * {
    height: 100px;
    width: 100px;
    display: block;
    transition: box-shadow .6s ease;
    
    &:hover {
        cursor: pointer;
        box-shadow: 10px 10px 30px #353535;
    }
}

.gameboard-colorbox {
    &__wrapper {
        display: flex;
        height: 150px;
        justify-content: space-evenly;
        padding: 35px;
    }
    
    &-background {
        width: 150px;
        height: 150px;
        background-color: white;
        border-radius: 12px;
    }
}


.box-in-play {
    background-color: #4d4d4d;
    margin: 40px;
    display: inline-block;
    margin-left: 120px;
    z-index: 1000;
  }