.game {
    display: grid;
    grid-template-columns: [s colorboard-s] 1fr [colorboard-e pegboard-s] .3fr [pegboard-e e];
    grid-template-rows: 1fr;
    height: 100vh;

    &__colorboard {
        background-color: blueviolet;
        grid-column: colorboard-s/colorboard-e
      }
    
      &__pegboard {
        background-color: powderblue;
        grid-column: pegboard-s/pegboard-e
      }
}