.pegboard {
    display: grid;
    overflow: auto;
    grid-template-columns: [white-s] 1fr [white-e divider-s] .01fr [divider-e black-s] 1fr [black-e];
    grid-template-rows: 1fr;
 
    &__title {
        color: white;
        padding: 5px;
        font-weight: bold;
    }

    &__white {
        grid-column: white-s/white-e
    }

    &__black {
        grid-column: black-s/black-e
    }

    &__divider {
        display: inline-block;
        grid-column: divider-s/divider-e;
        grid-row: 1/-1;
        color: white;
    }
} 


.pegrow {

    &__peg {
        display: inline-flex;
        margin: 10px;
        border-radius: 3px;
        width: 25px;
        height: 25px;
        
        &-empty {
            box-shadow: 1px 1px 5px #353535  inset;
            background-color: #c1c1c1
        }
        
        &-white {
            background-color: white;
        }
        
        &-black {
            background-color: black
        }
    }
}


